{% extends 'base.html.twig' %}
    {% block content %}
        <h1>My Pokemon</h1>

        {% if (attack_error) != null and attack_error == 'fail'%}
            <div class="alert alert-danger" role="alert">
                <p>You can only resuscitate you Pokemon once a day.</p>
            </div>
        {% elseif (attack_error) != null and attack_error == 'success'%}
            <div class="alert alert-success" role="alert">
                <p>Your Pokemon has been resuscitated ! :)</p>
            </div>
        {% endif %}

        <ul>
            <li>Name : {{ pokemon.name }}</li>
            <li>Type :
                {% if pokemon.type == 0 %}
                    Fire
                {% elseif pokemon.type == 1 %}
                    Plant
                {% else %}
                    Water
                {% endif %}
            </li>
            <li>HP :
                {% if pokemon.hp > 70 %}
                    <span class="label label-success">{{ pokemon.hp }}</span>
                {% elseif pokemon.hp > 40 %}
                    <span class="label label-warning">{{ pokemon.hp }}</span>
                {% else %}
                    <span class="label label-danger">{{ pokemon.hp }}</span>
                {% endif %}
            </li>
            <li>Trainer : {{ pokemon.trainer.username }}</li>
        </ul>

        <a href="all-pokemon.php" class="link_a link_margin">Attack a Pokemon</a>

        {% if pokemon.hp == 0 %}
            <a href="resuscitate.php" class="link_a">Resuscitate my Pokemon</a>
        {% else %}
            <p>Resuscitate my Pokemon</p>
        {% endif %}
    {% endblock %}